* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

html {
  font-size: 16px;
}

.boton {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 10px auto;
  text-decoration: none;
  color: #fff;
}

.boton:hover {
  transition: 1s;
  scale: 110%;
}

.green {
  color: green;
}

.green2,
.green:hover {
  background-color: green;
  color: #fff;
}

.blue {
  background-color: rgb(15, 114, 164);
  color: #fff;
}

.red {
  background-color: brown;
  color: #fff;
}

.gray {
  background-color: darkgray;
  color: #fff;
}

.white {
  color: #fff;
}

.yellow {
  background-color: yellow;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #fff;

  text-align: center;
}

/**** estilos especiales ****/

#header {
  background-color: rgb(46, 46, 46);
  justify-content: space-between;
  align-items: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
}

header .logo {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.logo img {
  max-width: 50%;
}

header .logo h1 {
  font-size: 2rem;
}

nav {
  margin: 0 auto;
}
nav ul {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

nav li {
  margin: 15px;
  /*font-size: 1.3rem;*/
  font-weight: 300;
}

nav li a {
  color: rgb(113, 113, 122);
}

nav ul li a:hover {
  color: #fff;
}

/* ***********/
.slider {
  background-image: linear-gradient(to right, rgb(0 0 0 /0.5), rgb(0 0 0 /0.5)),
    url("../assets/img/ba1.jpg");
  height: 600px;
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sub-slider {
  position: relative;
  text-align: right;
  width: 50%;
  margin-right: 50px;
}

.slider p {
  margin: 20px 0;
  line-height: 2rem;
}

.botones-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.botones-slider .boton {
  margin: 10px;
}

/**** CARDS         ****/
#oradores {
  margin-top: 20px;
}

h2 {
  font-weight: 600;
  padding: 10px;
  font-size: 2rem;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #000;
  margin: 20px;
  text-align: left;
  width: 30%;
}

.card img {
  object-fit: contain;
  width: 100%;
}

.card .etiquetas {
  display: flex;
}

.mini-link {
  margin-right: 10px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.card h3 {
  font-size: 1.3em;
  font-weight: 600;
  padding: 0 15px 0 15px;
}

.card p {
  padding: 15px;
  line-height: 1.5rem;
}
/****      LUGAR    ****/
#lugar {
  display: flex;
  flex-wrap: wrap;
}

#lugar img {
  width: 50%;
}

.texto {
  padding: 20px;
  background-color: rgb(46, 46, 46);
  text-align: left;
  color: #fff;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.texto h2 {
  font-size: 2rem;
  margin: 10px 0;
}

.texto p {
  font-size: 1.3rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2rem;
}

.texto .boton {
  width: 200px;
  text-align: center;
  margin: 0;
}

.texto .boton:hover {
  background-color: darkgray;
}

/****      FORM    ****/
#formulario {
  margin: 20px auto;
  width: 40%;
}

form {
  margin: 15px auto;
}
form p {
  margin: 15px auto;
  font-size: 1.2rem;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.left {
  text-align: left;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.wide50 {
  width: 45%;
  border: 1px solid rgba(113, 113, 122, 0.5);
  padding: 10px;
}
.wide100 {
  width: 100%;
  border: 1px solid rgba(113, 113, 122, 0.5);
  padding: 10px;
}

.btn-submit {
  width: 100%;
  background-color: rgb(162, 211, 112);
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 15px auto;
}

.btn-submit:hover {
  transition: 1s;
  background-color: rgb(237, 146, 43);
  font-size: 2rem;
}

/**** FOOTER         ****/
footer {
  background-color: rgb(7, 54, 65);
  padding: 30px;
  text-align: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

footer ul > li {
  color: #fff;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  max-width: 100px;
  padding: 10px;
}
footer ul li a:hover {
  color: aqua;
}

#nombre,
#apellido,
#email,
#btnBorrar {
  margin-bottom: 20px;
}

/*   MEDIA QUERIES  ***********/
@media (max-width: 768px) {
  footer ul,
  nav ul {
    flex-direction: column;
    justify-content: center;
  }

  footer ul li {
    border: 1px solid #fff;
    padding: 20px;
    margin: 15px auto;
    max-width: 100%;
  }

  footer ul li:hover,
  nav li:hover {
    color: #fff;
    scale: 110%;
  }

  .card {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  nav li,
  .sub-slider,
  #lugar img,
  .texto,
  .wide50,
  header .logo,
  nav {
    width: 100%;
  }

  .wide50 {
    margin: 15px auto;
  }

  .flex {
    flex-direction: column;
    justify-content: center;
  }

  #formulario {
    width: 90%;
  }
}
